<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <title>23andMeep Assessment</title>
</head>
<body id = "assessment">
  <div class = "row">
    <div class = "col-md-3" id = "leftBanner"></div>
    <div class = "col-md-6" id = "middleBanner">
      <h1>Welcome, <%= user["first_name"] %> <%= user["last_name"] %>!</h1>
      <h4>In addition to your genetic make-up, we need to assess specific personality traits in order
        to determine your perfect super persona! Please answer the questions below.</h4>
    </div>
    <div class = "col-md-3" id = "rightBanner"></div>
  </div>
  <div class = "row">
    <div id = "assessmentQuestions" class = "col-md-10 col-md-offset-1">
    <form action = "/results" method = "POST">
      <input type = "hidden" name = "user" value = <%= user.id %> />
        <br><br>
        <div class = "row">
          <div class = "col-md-10 col-md-offset-1" >
            <h3 class = "questions">1.  <%= questions[0]["question"].upcase %></h3>
          </div>
        </div>
        <br>
        <div class = "row">
          <div class = "col-md-4 col-md-offset-2" id = "q1row1a">
            <input  type = "radio" name = "q1" required value = <%= options[0]["optiona"] %> /> Teacup pig playing guitar
            <br>
            <img class = "q1_img" src =<%= options[0]["optiona"] %> />
          </div>
          <div class = "col-md-4" id = "q1row1b">
            <input  type = "radio" name = "q1" value = <%= options[0]["optionb"] %> /> Teacup pig cuddling with a lamb
            <br>
            <img class = "q1_img" src =<%= options[0]["optionb"] %> />
          </div>
        </div>
        <br>
        <div class = "row">
          <div class = "col-md-4 col-md-offset-2" id = "q1row2a">
            <input  type = "radio" name = "q1" value = <%= options[0]["optionc"] %> /> Teacup pig pushing a shopping cart with a beer in it
            <br>
            <img class = "q1_img" src =<%= options[0]["optionc"] %> />
          </div>
          <div class = "col-md-4" id = "q1row2b">
            <input  type = "radio" name = "q1" value = <%= options[0]["optiond"] %> /> Teacup pig wearing rain boots
            <br>
            <img class = "q1_img" src =<%= options[0]["optiond"] %> />
          </div>
        </div>
        <br>
        <div class = "row">
          <div class = "col-md-10 col-md-offset-1" >
            <h3 class = "questions">2.  <%= questions[1]["question"].upcase %></h3>
          </div>
        </div>
        <br>
        <div class = "row">
          <div class = "col-md-4 col-md-offset-2" id = "q2row1a">
            <input type = "radio" name = "q2" required value = <%= options[1]["optiona"] %> /> <%= options[1]["optiona"] %>
          </div>
          <div class = "col-md-4" id = "q2row1b">
            <input type = "radio" name = "q2" value = <%= options[1]["optionb"] %> /> <%= options[1]["optionb"] %>
          </div>
          <br><br>
          <div class = "col-md-4 col-md-offset-2" id = "q2row2a">
            <input type = "radio" name = "q2" value = <%= options[1]["optionc"] %> /> <%= options[1]["optionc"] %>
          </div>
          <div class = "col-md-4" id = "q2row2b">
            <input type = "radio" name = "q2" value = <%= options[1]["optiond"] %> /> <%= options[1]["optiond"] %>
          </div>
        </div>
        <br>
        <div class = "row">
          <div class = "col-md-10 col-md-offset-1" >
            <h3 class = "questions">3.  <%= questions[2]["question"].upcase %></h3>
          </div>
        </div>
        <br>
        <div class = "row" id = "q3row1">
          <div class = "col-md-2 col-md-offset-2">
            <input  type = "radio" name = "q3" required value = <%= options[2]["optiona"] %> /> <%= options[2]["optiona"] %>
            <br>
            <img class = "q3_img" src ="http://40.media.tumblr.com/fa335632f1b474dd55493757839d2a3a/tumblr_n0ukv5MLqG1qz5uc4o1_500.jpg">
          </div>
          <div class = "col-md-2">
            <input  type = "radio" name = "q3" value = <%= options[2]["optionb"] %> /> <%= options[2]["optionb"] %>
            <br>
            <img class = "q3_img" src ="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=23862039">
          </div>
          <div class = "col-md-2">
            <input  type = "radio" name = "q3" value = <%= options[2]["optionc"] %> /> <%= options[2]["optionc"] %>
            <br>
            <img class = "q3_img" src ="http://www.mainlymunros.co.uk/images/yellow%20square.bmp">
          </div>
          <div class = "col-md-2">
            <input  type = "radio" name = "q3" value = <%= options[2]["optiond"] %> /> <%= options[2]["optiond"] %>
            <br>
            <img class = "q3_img" src = "http://i284.photobucket.com/albums/ll11/RockjohnAxe/BLACK_SQUARE.jpg">
          </div>
        </div>
        <br>
        <div class = "row">
          <div class = "col-md-10 col-md-offset-1">
          <h3 class = "questions">4.  <%= questions[3]["question"].upcase %></h3>
          </div>
        </div>
        <br>
        <div class = "row" id = "q4row1">
          <div class = "col-md-2 col-md-offset-2">
            <input  type = "radio" name = "q4" required value = <%= options[3]["optiona"] %> /> <%= options[3]["optiona"] %>
          </div>
          <div class = "col-md-2">
            <input  type = "radio" name = "q4" value = <%= options[3]["optionb"] %> /> <%= options[3]["optionb"] %>
          </div>
          <div class = "col-md-2">
            <input  type = "radio" name = "q4" value = <%= options[3]["optionc"] %> /> <%= options[3]["optionc"] %>
          </div>
          <div class = "col-md-2">
            <input  type = "radio" name = "q4" value = <%= options[3]["optiond"] %> /> <%= options[3]["optiond"] %>
          </div>
        </div>
        <br><br><br>
      <div class = "nav">
      <button id = "assessSubmit">submit</button>
      </div>
    </form>
    </div>
  </div>
</body>
</html>
