<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>23andMeep Results</title>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <script src = "results.js"></script>
</head>
<body>
  <!-- weakness logic -->
    <% weakness_arr = [] %>
    <!-- alcohol flush -->
    <% if weaknesses[0]["trait"] == "Flushes" %>
    <% weakness_arr.push(weaknesses[0]["description"]) %>
    <% end %>
    <!-- bitter taste perception -->
    <% if weaknesses[1]["trait"] == "Can Taste" %>
    <% weakness_arr.push(weaknesses[1]["description"]) %>
    <% end %>
    <!-- lactose intolerance -->
    <% if weaknesses[6]["trait"] == "Likely Intolerant" %>
    <% weakness_arr.push(weaknesses[6]["description"]) %>
    <% end %>
    <!-- male pattern baldness -->
    <% if weaknesses[8]["trait"] == "Increased Odds" || weaknesses[8]["trait"] == "Typical Odds" %>
    <% weakness_arr.push(weaknesses[8]["description"]) %>
    <% end %>
    <!-- red hair -->
    <% if weaknesses[11]["trait"] == "High Chance" || weaknesses[11]["trait"] == ">70% Chance" %>
    <% weakness_arr.push("A Ginger") %>
    <% end %>
    <!-- smoking behavior -->
    <% if weaknesses[13]["trait"] == "If a Smoker, Likely to Smoke More" %>
    <% weakness_arr.push(weaknesses[13]["trait"]) %>
    <% end %>

  <!-- sidekick logic -->
  <% if response["answer4"] == options[3]["optiona"] %>
    <% img = "/images/grit.png" %>
  <% end %>
  <% if response["answer4"] == options[3]["optionb"] %>
    <% img = "/images/quirkiness.png" %>
  <% end %>
  <% if response["answer4"] == options[3]["optionc"] %>
    <% img = "/images/strength.png" %>
  <% end %>
  <% if response["answer4"] == options[3]["optiond"] %>
    <% img = "/images/looks.png" %>
  <% end %>

<div id = "calc">
  <div id = "show">
      <div id = "calcBanner">
        <h1>Super Hero Generation in progress</h1>
        <br>
        <h4 class = "intro">Please hold while we complete extremely complex calculations to determine your super hero persona...</h4>
      </div>
    </br><br>
    <img id = "superHeroGen" src = "http://38.media.tumblr.com/tumblr_lfp6afqzwC1qfcbfro1_500.gif" align = "middle">
    <br id = "bottom">
  </div>
</div>


<div id = "results">
  <div id = "hide">
    <!-- header -->
  <div id = "resultsBanner">
    <div class = "row">
      <div class = "col-md-6 col-md-offset-3">
        <h1>Oh hey, super version of <%= user["first_name"] %>!</h1>
      </div>
      <div class = "col-md-1 col-md-offset-1">
        <form action = '/logout' method = "GET">
          <button id = "logout">logout</button>
        </form>
      </div>
    </div>
    <br>
    <div class = "row">
      <h4 class = "intro">*Disclaimer: we ask that you kindly use your powers for good, not evil. We are also not liable if you suddenly believe you actually have these super powers, and seriously injure yourself.</h4>
      <h4 class = "intro" id = "selection">...although we do believe in natural selection.</h4>
    </div>
  </div>
    <!-- super hero profile -->
    <% if response["answer1"] == options[0]["optiona"] || response["answer1"] == options[0]["optionc"] %>
    <% if response["answer2"] == options[1]["optiona"] || response["answer2"] == options[1]["optionb"] %>
    <% if user["gender"] == "female" %>
    <% hero_name = heroes[0]["name"] %>
    <% hero_desc = heroes[0]["description"] %>
    <% hero_costume = heroes[0]["costume"] %>
    <% hero_energy = heroes[0]["energy_source"]%>
    <% else %>
    <% hero_name = heroes[1]["name"] %>
    <% hero_desc = heroes[1]["description"] %>
    <% hero_costume = heroes[1]["costume"] %>
    <% hero_energy = heroes[1]["energy_source"]%>
    <% end %>
    <% else %>
    <% if user["gender"] == "female" %>
    <% hero_name = heroes[2]["name"] %>
    <% hero_desc = heroes[2]["description"] %>
    <% hero_costume = heroes[2]["costume"] %>
    <% hero_energy = heroes[2]["energy_source"]%>
    <% else %>
    <% hero_name = heroes[3]["name"] %>
    <% hero_desc = heroes[3]["description"] %>
    <% hero_costume = heroes[3]["costume"] %>
    <% hero_energy = heroes[3]["energy_source"]%>
    <% end %>
    <% end %>
    <% end %>

    <% if response["answer1"] == options[0]["optionb"] || response["answer1"] == options[0]["optiond"] %>
    <% if response["answer2"] == options[1]["optiona"] || response["answer2"] == options[1]["optionb"] %>
    <% if user["gender"] == "female" %>
    <% hero_name = heroes[4]["name"] %>
    <% hero_desc = heroes[4]["description"] %>
    <% hero_costume = heroes[4]["costume"] %>
    <% hero_energy = heroes[4]["energy_source"]%>
    <% else %>
    <% hero_name = heroes[5]["name"] %>
    <% hero_desc = heroes[5]["description"] %>
    <% hero_costume = heroes[5]["costume"] %>
    <% hero_energy = heroes[5]["energy_source"]%>
    <% end %>
    <% else %>
    <% if user["gender"] == "female" %>
    <% hero_name = heroes[6]["name"] %>
    <% hero_desc = heroes[6]["description"] %>
    <% hero_costume = heroes[6]["costume"] %>
    <% hero_energy = heroes[6]["energy_source"]%>
    <% else %>
    <<% hero_name = heroes[7]["name"] %>
    <% hero_desc = heroes[7]["description"] %>
    <% hero_costume = heroes[7]["costume"] %>
    <% hero_energy = heroes[7]["energy_source"]%>
    <% end %>
    <% end %>
    <% end %>

    <div class = "row">
      <div class = "col-md-3 col-md-offset-2 text-center">
        <h2 id = "heroName"><%=hero_name%></h2>
      </div>
      <div class = "col-md-5 text-left">
        <h4 class = "heroHeaders" id = "bio">BIO</h4>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-3 col-md-offset-2 text-center">
        <img src = "/images/hipster.png" id = "heroImg">
      </div>
      <div class = "col-md-5 text-left" id = "heroDetails">
        <p id = "heroDesc"><%=hero_desc%></p>
      </div>
      <div class = "col-md-5 text-left">
        <h4 class = "heroHeaders">WEAKNESSES</h4>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-3 col-md-offset-2 text-center">
        <h4 id = "sidekickName">Trusty Sidekick</h3>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-3 col-md-offset-2 text-center">
        <img src = <%=img%> id = "sidekickImg"/>
      </div>
      <div class = "col-md-5 text-left">
        <h4 class = "heroHeaders">COSTUME</h4>
      </div>
      <div class = "col-md-5" id = "heroDetails">
        <p id = "heroCostume"><%=hero_costume%></p>
      </div>
      <div class = "col-md-5 text-left">
        <h4 class = "heroHeaders">ENERGY SOURCE</h4>
      </div>
      <div class = "col-md-5" id = "heroDetails">
        <p id = "heroEnergy"><%=hero_energy%></p>
      </div>
    </div>

  </div>
</div>
</body>
</html>
